@import 'https://fonts.googleapis.com/css?family=Raleway';
body{
    font-family: 'Raleway',sans-serif;
}
.counter{
    min-height: 30px;
    background: #e0e0e0;
    border: .5px solid #000;
    border-radius: 3px;
}
h1,h2,h3,h4,h5,h6
{
    text-align: center;
    margin: 7px
}
table{
    width:100%;
}
#table-outer{
    margin-left:23%;
    margin-top: 15px;
    background:#fdfdfd;
    width:56%;
    max-height:460px;
    overflow-y: auto;
}
.folder{
    color: #E07A0D;
}
.file{
    color: #517AFF;
}
td:hover{
    background: #
    cursor: pointer !important;
}